body {
	font-family: 'Open Sans', Verdana;
}

h1 {
	text-align: center;
}

.center {
	margin: 0 auto;
	width: 800px;
}

.pictures {
	text-align: center;
}

.pic {
    border-radius: 50%;
	width: 300px;
	height: 300px;
	display: inline-block;
}

.btn-container {
	position: relative;
}

.btn {
	position: absolute;
}

.btn-right { right: 0; }
.btn-left { left: 0; }